@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

//Material theme light high contrast
$background: #fdf7ff;
$on-background: #1d1b20;
$surface-bright: #fdf7ff;
$surface-container-low: #f7f2fa;
$surface-container: #f2ecf4;
$surface-container-highest: #e6e1e9;
$primary: #27174e;
$on-primary: #ffffff;
$primary-container: #493971;
$on-primary-container: #ffffff;
$tertiary-container: #6b2f45;

//Personalizar Bootstrap antes de importarlo

//Importar Bootstrap para aplicar los cambios
@import "bootstrap/scss/bootstrap";
