// Importar variables personalizadas
@import "_custom.scss";

// Estilos de Botones
.navbar-btn {
  border-radius: 0%;
  &.navbar-btn:hover {
    background-color: $surface-container;
    border-bottom-width: 0.25em;
    border-bottom-color: $primary;
  }
}

.booking-form-btn {
  border-radius: 0.25rem;
  &.booking-form-btn:hover {
    background-color: $surface-container;
    color: $primary;
  }
}

.solid-btn-primary {
  border-radius: 0.25rem;
  background-color: $primary-container;
  color: $on-primary-container;
  &.solid-btn:hover {
    background-color: $primary;
    color: $on-primary;
  }
}

.solid-btn-tertiary {
  border-radius: 0.25rem;
  background-color: $tertiary-container;
  color: $on-primary-container;
  &.solid-btn-tertiary:hover {
    background-color: $surface-container;
    color: $on-background;
  }
}

.signin-card {
  background-color: $surface-bright;
}

// Estilos de textos

.display-medium {
  font-family: "Playfair", serif;
  font-size: 45px;
  font-weight: 500;
}

.display-small {
  font-family: "Playfair", serif;
  font-size: 36px;
  font-weight: 400;
}

.headline-medium {
  font-family: "Playfair", serif;
  font-size: 28px;
  font-weight: 300;
}

.headline-small {
  font-family: "Playfair", serif;
  font-size: 24px;
  font-weight: 500;
}

.title-large {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.title-medium {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.title-small {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.label-medium {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.label-small {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.body-large {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 350;
}

.body-medium {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 350;
}

.body-small {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 576px) {
  .label-medium {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  .body-medium {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  .headline-small {
    font-family: "Playfair", serif;
    font-size: 20px;
    font-weight: 300;
  }

  .display-medium {
    font-family: "Playfair", serif;
    font-size: 32px;
    font-weight: 500;
  }

  .body-large {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
}
