// Importar variables personalizadas
@import "_custom.scss";

// Estilos de Botones
.navbar-btn {
  border-radius: 0%;
  &.navbar-btn:hover {
    background-color: $surface-container;
    border-bottom-width: 0.25em;
    border-bottom-color: $primary;
  }
}

.booking-form-btn {
  border-radius: 0.25rem;
  &.booking-form-btn:hover {
    background-color: $surface-container;
    color: $primary;
  }
}

.solid-btn {
  border-radius: 0.25rem;
  background-color: $primary-container;
  color: $on-primary-container;
  &.solid-btn:hover {
    background-color: $primary;
    color: $on-primary;
  }
}

// Estilos de textos
.label-medium {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.label-small {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.body-large {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 350;
}

.body-medium {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.body-small {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.display-small {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 400;
}
