// Importar variables personalizadas
@import "_custom.scss";

// Formato de columnas en las tablas en los modal del adshboard administrativo
.cell-medium {
  max-width: 200px;
  word-break: break-word;
  white-space: normal;
}

//Advertensia
.bg-warning {
  background-color: #ea8a6f;
}

//Estilo de los Input en el formulario para realizar una reserva
.input-custom {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  margin: 0;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}

//Estilos para el efecto blur de fondo al abrir modal
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px); // 💫 El efecto mágico
  background-color: rgba(0, 0, 0, 0.4); // sombra suave
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; // por encima del contenido
}

.reserva-modal {
  background: white;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close {
  background: none;
  border: none;
  font-size: 1.5rem;
}

//Estilos para el tamaño del contenedor en el contenido dinámico del Sign Up
.signup-container {
  width: 100%;

  @media (min-width: 576px) {
    width: 75%;
  }
  @media (min-width: 992px) {
    width: 50%;
  }
}

// Estilos de Botones
.navbar-btn {
  border-radius: 0%;
  text-decoration: none;
  &.navbar-btn:hover {
    background-color: $surface-container;
    border-bottom-width: 0.25em;
    border-bottom-color: $primary;
  }
}

.booking-form-btn {
  border-radius: 0.25rem;
  text-decoration: none;
  &.booking-form-btn:hover {
    background-color: $surface-container;
    color: $primary;
  }
}

.solid-btn-primary {
  border-radius: 0.25rem;
  background-color: $primary;
  color: $on-primary;
  &.solid-btn:hover {
    background-color: $primary-container;
    color: $on-primary-container;
  }
}

.solid-btn-tertiary {
  border-radius: 0.25rem;
  background-color: $tertiary-container;
  color: $on-primary-container;
  &.solid-btn-tertiary:hover {
    background-color: $surface-container;
    color: $on-background;
  }
}

.signin-card {
  background-color: $surface-bright;
}

// Estilos de textos

.display-medium {
  font-family: "Playfair", serif;
  font-size: 45px;
  font-weight: 500;
}

.display-small {
  font-family: "Playfair", serif;
  font-size: 36px;
  font-weight: 400;
}

.headline-medium {
  font-family: "Playfair", serif;
  font-size: 28px;
  font-weight: 300;
}

.headline-small {
  font-family: "Playfair", serif;
  font-size: 24px;
  font-weight: 500;
}

.headline-xsmall {
  font-family: "Playfair", serif;
  font-size: 22px;
  font-weight: 500;
}

.title-large {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.title-medium {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.title-small {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.label-medium {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.label-small {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.body-large {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 350;
}

.body-medium {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 350;
}

.body-small {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 576px) {
  .label-medium {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  .body-medium {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  .headline-small {
    font-family: "Playfair", serif;
    font-size: 20px;
    font-weight: 300;
  }

  .display-medium {
    font-family: "Playfair", serif;
    font-size: 32px;
    font-weight: 500;
  }

  .body-large {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
}
